<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Songr | Add an Album</title>
</head>
<body>
    <div>
        <h1>Add Album</h1>
        <form action="#" th:action="@{ /add-album }" th:object="${ album }" method="post">
            <p>Title: <input type="text" th:field="*{ title }" /></p>
            <p>Artist: <input type="text" th:field="*{ artist }" /></p>
            <p>No. of Songs: <input type="number" th:field="*{ songCount }" /></p>
            <p>Album length: <input type="number" th:field="*{ length }" /> seconds</p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
</body>
</html>